@font-face {
  font-family: "SansReg";
  src: url("/src/assets/fonts/SansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 768px) {
  .company-info-section {
    padding: 30px 15px; /* Reduce padding for smaller screens */
  }

  .company-info h3 {
    font-size: 20px; /* Smaller heading font size */
  }

  .company-info p,
  .company-info h4 {
    font-size: 14px; /* Smaller text font size */
  }
}

@media (max-width: 480px) {
  .company-info-section {
    padding: 20px 10px; /* Further reduce padding for very small screens */
  }

  .company-info h3 {
    font-size: 18px; /* Even smaller heading font size */
  }

  .company-info p,
  .company-info h4 {
    font-size: 12px; /* Smaller text font size */
  }
}
html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;;
  background-color: black;
  color: white;
  background: 
    radial-gradient(circle at bottom, #0d0c18 1%, rgb(23, 22, 45) 70%) no-repeat, /* Existing radial gradient */
    linear-gradient(to bottom, rgba(9, 8, 15, 0) 70%, rgb(20, 19, 40) 100%); /* Fade to black at the bottom */
  background-size: cover; /* Ensure the background covers the entire page */
  background-blend-mode: overlay; /* Blend the gradients together */
}

.moving-background {
  position: fixed; /* Fixed position to cover the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind other content */
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
