.company-info-section {
    background-color: rgb(26, 26, 26); 
    background: rgb(15, 15, 15); 
    padding: 5px 20px 20px 20px; /* Add padding for spacing */
    text-align: center; /* Center-align the content */
    color: hsl(0, 0%, 100%);
  }
.company-info {
    font-family: "SansReg";
    margin: 0 auto; /* Center the content */
    max-width: 1200px; /* Limit the width */
    padding: 2px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
  }

  
  .company-name {
    font-family: "SansReg";
    font-size: 45px;
    font-weight:bolder;
    margin-bottom: 20px;
    letter-spacing:normal;
    text-align: center;
    color: hsl(0, 0%, 100%);
  }
  
  .company-description {
    font-size: 20px;
    font-family: "SansReg";
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
  }
  
  .info {
    margin-top: 22px;
    font-family: "SansReg";
    color: hsl(0, 0%, 100%);
    text-align: center;
  }
  
  .info h4 {
    font-family: "SansReg";
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
    color: hsl(0, 0%, 100%);
  }
  