
.what-we-do-container {
    max-width: 1355px;
    margin: 100px auto; /* Add more space above and below */
    padding: 20px;
    border: 1px solid hsla(0, 0%, 48%, 0.075);
    background-color:rgba(50, 50, 50, 0);
    box-shadow: 0px 4px 8px hsla(0, 0%, 16%, 0.089);
    border-radius: 60px;
  }
  
  .what-we-do-content {
    background-color: hsl(0, 0%, 100%); /* Match the product card color */
    color: hsl(52, 38%, 8%); /* Text color */
    padding-bottom: 25px;
    padding-top: 10px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0px 2px 6px hsla(0, 0%, 16%, 0.089);
  }
  
  .what-we-do-content h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    margin-bottom: 40px
  }
  .what-we-do-content h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    margin-bottom: 40px
  }
  
  .what-we-do-content p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: Helvetica, sans-serif;
  }